<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.catch34.v1"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Catch 34</name>

  <description>
      An augmented reality game for kids learning to read.
  </description>

  <author href="https://notavailableyet.com" email="support@catch34.com">
      DC
  </author>
  <icon src="puppycorn.png" />
    
</widget>
